<!-- Single Product -->
<div class="col-12 col-sm-6 col-lg-4">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img">
            <img src="{{product.images.all.3.image.url}}" alt="">
            <!-- Hover Thumb -->
            <img class="hover-img" src="{{product.images.all.4.image.url}}" alt="">

            <!-- Product Badge -->
            <div class="product-badge offer-badge">
                <span>{% if product.discount %}{{product.discount}}% OFF{% else %} {% endif %}</span>
            </div>
            <!-- Favourite -->
            <div class="product-favourite">
                <a href="{% url 'product' product.slug%}"></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <span>topshop</span>
            <a href="{% url 'product' product.slug%}">
                <h6>{{ product.title }}</h6>
            </a>
            <p class="product-price">{{ product.price }}
                {% if product.old_price and product.old_price != product.price %}
                    <span class="old-price" style="padding-right: 20px;">{{ product.old_price }}</span>
                {% endif %}
            </p>

            <!-- Hover Content -->
            <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                    <a href="{% url 'product' product.slug%}" class="btn essence-btn">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>